.main {
}
/* ================================================== */
.section {
	padding: 0 5%;
}
/* ================================================== */
.cooperations {
	padding-top: 120px;
	padding-bottom: 120px;
	/* .cooperations__content */
	&__content {
	}
	/* .cooperations__header */
	&__header {
	}
	/* .cooperations__subtitle */
	&__subtitle {
	}
	/* .cooperations__title */
	&__title {
	}
	/* .cooperations__cards */
	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	/* .cooperations__card */
	&__card {
		flex: 1 1 33.333%;
	}
}
/* ================================================== */
.banner {
	padding: 0;
	background-color: $cpeachaccent;
	color: $clevel1;
	height: 600px;
	display: flex;
	position: relative;
	/* .banner__content */
	&__content {
		flex: 1 1 50%;
		width: 50%;
		padding: 120px 5%;
		width: 50%;
		margin-right: auto;
		display: flex;
		flex-direction: column;
	}
	/* .banner__title */
	&__title {
		font-size: 55px;
		line-height: 66px;
		color: $clevel1;
		margin: 0 0 24px 0;
		padding: 0;
	}
	/* .banner__text */
	&__text {
		font-size: 18px;
		line-height: 150%;
		color: #5b6876;
		margin: 0;
		padding: 0;
	}
	/* .banner__btn */
	&__btn {
		width: auto;
		margin-top: auto;
		margin-right: auto;
		font-size: 18px;
		line-height: 150%;
		color: #5b6876;
		text-decoration: none;
		&:hover {
			filter: opacity(0.5);
		}
		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background-color: #8491a0;
			margin-top: 4px;
		}
	}
	/* .banner__bg */
	&__bg {
		flex: 1 1 50%;
		width: 50%;
		height: 600px;
	}
	/* .banner__img */
	&__img {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
		&_1 {
			object-position: center center;
		}
		&_2 {
			object-position: top center;
		}
	}
}
/* ================================================== */
.cards {
	counter-reset: albumList;
}
/* ================================================== */
.card {
	position: relative;
	flex: 1 1 31.667%;
	width: 100%;
	max-width: 416px;
	margin-right: 1.666%;
	&:last-child {
		margin-right: 0;
	}
	/* .card__number */
	&__number {
		position: relative;
		height: 141px;
		&::after {
			counter-increment: albumList;
			content: '0' counter(albumList);
			display: block;
			font-size: 117px;
			line-height: 141px;
			color: #8491a0;
			position: relative;
			top: 0;
			left: 0;
		}
	}
	/* .card__title */
	&__title {
		font-size: 24px;
		@include adaptiv-font(24, 18);
		line-height: 36px;
		font-weight: 700;
		color: rgba(255, 255, 255, 1.0);
		margin: 0;
		margin-bottom: 22px;
	}
	/* .card__desc */
	&__desc {
		width: 100%;
		max-width: 368px;
		font-size: 16px;
		line-height: 24px;
		color: #8491a0;
		margin: 0;
		margin-bottom: 22px;
	}
}
/* ================================================== */
.text-color {
	/* .text-color_1 */
	&_1 {
		color: $cgreenaccent;
	}
	/* .text-color_2 */
	&_2 {
		color: $cblueaccent;
	}
	/* .text-color_3 */
	&_3 {
		color: $cpinkaccent;
	}
}
/* ================================================== */
.projects {
	padding: 120px 5% 153px 5%;
	/* .projects__header */
	&__header {
		max-width: 48.149%;
		margin: 0 0 80px 0;
	}
	/* .projects__title */
	&__title {
		font-size: 16px;
		line-height: 150%;
		font-weight: 700;
		color: #8491a0;
		text-transform: uppercase;
		margin: 0 0 8px 0;
		padding: 0;
	}
	/* .projects__label */
	&__label {
		font-size: 55px;
		line-height: 66px;
		font-weight: 700;
		margin: 0;
		padding: 0;
	}
	/* .projects__content */
	&__content {
		position: relative;
	}
	/* .projects__cards */
	&__cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;
	}
	/* .projects__card */
	&__card {
		flex: 0 1 48.149%;
		width: 48.149%;
		height: 100%;
		margin-bottom: 24px;
		position: relative;
		&:nth-child(2n+2) {
			margin-top: -244px;
		}
	}
	/* .projects__btn-wrapper */
	&__btn-wrapper {
		max-width: 48.149%;
		margin: 0;
		margin-left: auto;
		margin-top: -164px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 0;
		right: 0;
	}
	/* .projects__btn */
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 24px 32px;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 18px;
		line-height: 150%;
		font-weight: 700;
		color: #fff;
		border: 1px solid #5221e6;
	}
}
/* ================================================== */
.project-card {
	background-color: $clevel1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* .project-card__img-wrapper */
	&__img-wrapper {
		flex: 1 1 100%;
		height: 620px;
	}
	/* .project-card__img */
	&__img {
		display: block;
		max-width: 100%;
		height: 100%;
		object-fit: cover;
	}
	/* .project-card__content */
	&__content {
		flex: 1 1 100%;
		padding: 40px 32px;
	}
	/* .project-card__title */
	&__title {
		font-size: 24px;
		line-height: 150%;
		font-weight: 700;
		margin: 0 0 13px 0;
		padding: 0;
	}
	/* .project-card__desc */
	&__desc {
		font-size: 18px;
		line-height: 150%;
		color: #8491a0;
		margin: 0;
		padding: 0;
	}
}
/* ================================================== */

